* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 595px;
    height: 842px;
    font-family: 'Source Sans Pro', sans-serif;
}

#cabecalho {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}

#cabecalhoFoto img {
    resize: 70%;
    border-radius: 5%;
    margin-right: 15px;
}

#cabecalhoTitle h1 {
    margin: 0;
}

.container {
    margin: 20px auto;
    padding: 10px;
}

p {
    margin: 5px;
}

h1 {
    font-size: 26px;
}

h4 {
    font-size: 15px;
    font-weight: normal;
    margin: 10px 0 10px 0;
}

span {
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

#main {
    display: flex;
    justify-content: space-between;
}

.part1 {
    width: 80%;
}

.part1-a p {
    margin-top: 10px;
}

.part1-a,
.part1-b {
    margin-top: 20px;
}

#lateral {
    width: 20%;
    padding: 0 10px 0 10px;
    border-left: 1px solid lightgray;
}